*.scyndi linguist-language=Scyndi linguist-detectable=true
*.saskia linguist-language=SASKIA linguist-detectable=true
*.SASKIA linguist-language=SASKIA linguist-detectable=true
*.aqs linguist_language=Apollo Quick Script linguist-detectable=true
*.neil linguist-language=Neil linquist-detectble=true
